.cell {
    height: 100%;
    float: left;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    background-color: white;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 5px;
}

.cell.isRevealed {
    background-color: grey;
}

.cell.correct {
    background-color: green;
}

.cell.incorrect {
    background-color: red;
}

.cell.m1 {