.cell {
    width: 100px;
    height: 100px;
    float: left;
    box-sizing: border-box;
    border: 5px solid grey;
    background-color: yellow;
}

.active-cell {
    height: 100%;
    border: 1px dotted blue;
}

