.cell {
    height: 100%;
    float: left;
    box-sizing: border-box;
    border: 5px solid grey;
    background-color: lightgrey;
}

.cell.isRevealed {
    background-color: white;
}

.cell.correct {
    background-color: green;
}

.cell.incorrect {
    background-color: red;
}