.score-container {
    border: 1px solid;
    width: 300px;
    font-size: 30px;
}

.score {
    float: right;
    margin-right: 10px;
}

.face {
    width: 40px;
    height: 40px;
    margin: 1px 5px;
    font-size: 30px;
}
